@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #1e90ff;
  --gray: #bbb7b788;
  --green: #42ff31;
  --gray-card: #161616;
  --border-rad-card: 25px;
  --border-rad-item: 15px;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Poppins;
}
* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

/* Sid: Main Layout Css  */

.main-layout-wrapper {
  background: #323131;
  width: 100%;
  height: 100%;
  color: white;
}

.black {
  background: #000;
}

.round {
  border-radius: 50%;
  padding: 0.5rem;
}

.user {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #42ff31;
}

/* ! Side Bar Css Starts Here */
.logo {
  color: #42ff31;
  padding: 0.5rem;
}
.logo:hover {
  color: red;
  cursor: pointer;
}
.sub-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  background: transparent;
  border-radius: 15px;
}
.sub-icons:hover {
  color: var(--green);
  cursor: pointer;
  background: #15ff004a;
  /* border: 1px solid var(--green); */
}
.line {
  padding: 0.1rem 0.5rem;
  color: var(--green);
}

.mic {
  padding: 0.4rem;
  background: #ff3c00;
  outline: 10px solid var(--gray); /* Initial outline color and transparency */
  box-shadow: 0px 0px 15px 5px rgba(255, 60, 0, 0.47);
  border-radius: 50%;
  border: 2px solid transparent;
  outline-offset: -1px; /* To merge the outline and border */
  transition: ease-in-out;
  animation: pulse 2s infinite;
}
.mic:hover {
  box-shadow: 0px 0px 15px 5px rgba(0, 255, 51, 0.47);
}

.logout {
  color: white;
}

.logout:hover {
  color: #ff1717;
  background: transparent;
}
@keyframes pulse {
  0% {
    outline-color: var(--gray);
    outline-width: 0px;
  }
  25% {
    outline-color: var(--gray);
    outline-width: 5px;
  }
  50% {
    outline-color: var(--gray);
    outline-width: 12px;
  }
  75% {
    outline-color: var(--gray);
    outline-width: 5px;
  }
  100% {
    outline-color: var(--gray);
    outline-width: 0px;
  }
}
/* ! Side Bar Css Ends Here */

/* Sid: Main Layout  Css Ends  */

/* Note: Main-Body -> Cards CSS */
.gray-round {
  background: var(--gray-card);
  border-radius: var(--border-rad-card);
}

/* ! Cards Component Css Starts Here */
.play-btn {
  padding: 1.5rem;
  border-radius: 50%;
  background: orangered;
  box-shadow: 0px 0px 100px 15px #ff3c00;
}

.timer p {
  padding: 0.1rem;
}
.timer-text {
  padding: 0.2rem 2rem;
  background: rgba(65, 65, 65, 0.496);
  border-radius: var(--border-rad-item);
  color: white;
}

.sub-text {
  color: var(--gray);
}

/* Note: Card 2 css starts here */
.play {
  padding: 0.5rem;
  border-radius: 50%;
  border:1px solid #3859ed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pause {
  padding: 0.5rem;
  border-radius: 50%;
  background: orangered;
  box-shadow: 0px 0px 40px 1px rgb(255, 60, 0);
}

/* Note: Card 2 css Ends here */

/* ! Cards Component Css Ends Here */

/* Note: Main-Body -> Cards CSS */
